{% extends 'base.html' %}

{% block content %}

<h2>💳 Transaction History</h2>

<table>

<tr>

<th>#</th>
<th>Payer</th>
<th>Receiver</th>
<th>Amount</th>
<th>Type</th>
<th>Status</th>

</tr>

{% for p in data %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ p.payer }}</td>

<td>{{ p.receiver }}</td>

<td>₹{{ p.amount }}</td>

<td>{{ p.payment_type }}</td>

<td>

{% if p.status == 'Success' %}

<span style="color:lime;">
Success
</span>

{% else %}

<span style="color:red;">
Failed
</span>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}